<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput
          type="text"
          placeholder="Title"
          formControlName="title" 
          >
        <mat-error *ngIf="form.get('title').invalid">Please enter message title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Message"
          formControlName="message"
        ></textarea>
        <mat-error *ngIf="form.get('message').invalid">Please enter message title</mat-error>
      </mat-form-field>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title" id="preview-img">
        <p>{{form.value.image.name}}</p>
      </div>
      <div>
        <button type="button" mat-button (click)="imageUploader.click()">UPLOAD IMAGE</button>
        <input type="file" #imageUploader (change)="onImageUploaded($event)">
      </div>
      <div align="end">
          <span flex></span>
        <button
        mat-raised-button
        color="accent"
        type="submit">
        POST
      </button>
      </div>
  </form>
</mat-card>
