textarea, mat-form-field {
  width: 100%;
}

mat-spinner {
  display: block;
  margin: 0 auto;
}

input[type="file"] {
  display: none;
}

.image-preview {
  height: 15rem;
  margin: 1rem 0;
}

#preview-img {
  height: 90%;
  display: block;
}