<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit) ="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput
          type="text"
          name="title"
          [ngModel]= "post?.title"
          required
          minlength="3"
          #title="ngModel"
          placeholder="Title"
          >
        <mat-error *ngIf="title.invalid">Please enter message title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          name="message"
          [ngModel] = "post?.message"
          required
          minlength="3"
          #message="ngModel"
          placeholder="Message"
        ></textarea>
        <mat-error *ngIf="message.invalid">Please enter message title</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">
        SEND
      </button>
  </form>
</mat-card>
