<mat-card>
  <form (submit) ="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input matInput
          type="text"
          name="title"
          ngModel
          required
          minlength="3"
          #title="ngModel"
          placeholder="Title"
          >
        <mat-error *ngIf="title.invalid">Please enter message title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          name="message"
          ngModel
          required
          minlength="3"
          #message="ngModel"
          placeholder="Message"
        ></textarea>
        <mat-error *ngIf="message.invalid">Please enter message title</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">
        SEND
      </button>
  </form>
</mat-card>
