.info-text {
  text-align: center;
}

:host {
  display: block;
  margin: 1rem auto;
}

#create-message-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

mat-spinner {
  display: block;
  margin: 0 auto;
}
